
<div class="flash-flashcards">
  <h1 class="title-main"> <span> <%= @quest.name%>  </span></h1>
  <div class="progress">
    <div class="progress-bar bg-success" id="flashcard-progress" role="progressbar" style="width: <%= @progress %>%" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100" data-total="<%= @total_flashcards %>" data-counter="<%= @done_flashcards_count %>"></div>
  </div>
  <div class="container-flashcards">
    <% @flashcards.each do |flashcard| %>
      <ul class="cards">
        <li class="card-question">
          <h2><%= flashcard.question %></h2>
          <div class="tip-button">
            <p><%= flashcard.tip %></p>
            <button class="flashcard-button" data-url="<%= flashcards_progress_url(@userquest, flashcard) %>" type="button">Suivant</button>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>
