<div class="container">
  <div class="params-show">
    <h4 class="title-main"><%= @quest.name%></h4>
    <br />
  </div>

  <div
  class="ldBar label-center"
  aria-valuenow="<%= @total_progress %>"
  aria-valuemin="0"
  aria-valuemax="100"
  data-total="<%= @progress %>"
  data-counter="<%= @done_total_count %>"
  data-type="fill"
  data-value="<%= @progress %>"
  data-path="M90.5,23.2c0-12.5-10.2-22.7-22.7-22.7
  c-13.6,0-20.9,8.6-22.3,13.8C44.3,8.9,
  35.1,0.5,23.2,0.5C10.7,0.5,0.5,10.7,
  0.5,23.2c0,22.2,36.5,45.3,45,55.9
  C53.5,67.3,90.5,46.3,90.5,23.2z"
></div>

  <div class="c-wrapper">
    <div class="text-center">
      <%= link_to quest_flashcards_path(@quest) do %>
      <div class="item one">
        <img src="img/icons/icon1.png" alt="" />
        <h4 class="categories">Flashcards</h4>
      </div>
      <br />
      <br />
      <img
        src="https://res.cloudinary.com/dqymzh7jc/image/upload/v1598011224/Group_3_vn8lok.png"
        alt=""
      />
      <br />
      <br />
      <br />
      <% end %>
    </div>
    <div class="center-item text-center">
      <%= link_to quest_videos_path(@quest) do %>
      <div class="item two">
        <img src="img/icons/icon2.png" alt="" />
        <h4 class="categories">Vidéos</h4>
      </div>
      <br />
      <br />
      <img
        src="https://res.cloudinary.com/dqymzh7jc/image/upload/v1598011806/Capture_d_e%CC%81cran_2020-08-21_a%CC%80_14.09.54_pntgil.png"
      />
      <br />
      <br />
      <br />
      <% end %>
    </div>
    <div class="center-item text-center">
      <div class="item three">
        <h4 class="categories">Parler avec un.e conseillèr.e</h4>
      </div>
      <br />
      <br />
      <img
        src="https://res.cloudinary.com/dqymzh7jc/image/upload/v1598178050/mains_6_oq1rqm.png"
        alt=""
        style="height: 200px;"
        ;
      />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
