<div class="userquest-show">
  <div class="params-show">
  <span><h1 class="title-main"><%= @quest.name%></h1></span>
    <br />
  </div>

  <div id="container">
  <div id="heart-progress"
    aria-valuenow="<%= @total_progress %>"
    aria-valuemin="0"
    aria-valuemax="100"
    data-total="<%= @progress %>"
    data-counter="<%= @done_total_count %>" >
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">
                  <path fill-opacity="0" stroke-width="2" stroke="#78bdb3" d="M81.495,13.923c-11.368-5.261-26.234-0.311-31.489,11.032C44.74,13.612,29.879,8.657,18.511,13.923  C6.402,19.539,0.613,33.883,10.175,50.804c6.792,12.04,18.826,21.111,39.831,37.379c20.993-16.268,33.033-25.344,39.819-37.379  C99.387,33.883,93.598,19.539,81.495,13.923z"/>
                  <path id="heart-path" fill-opacity="0" stroke-width="6" stroke="#e60058" d="M81.495,13.923c-11.368-5.261-26.234-0.311-31.489,11.032C44.74,13.612,29.879,8.657,18.511,13.923  C6.402,19.539,0.613,33.883,10.175,50.804c6.792,12.04,18.826,21.111,39.831,37.379c20.993-16.268,33.033-25.344,39.819-37.379  C99.387,33.883,93.598,19.539,81.495,13.923z"/>
              </svg>
</div>
</div>


<div class="genius">
<% if @progress == 100 %>
<p>Vous avez fini la quête</p>
  <% elsif @progress < 100 %>
  <p>Il te reste  <%= 100-(@progress) %> % <br /> de la quête à accomplir</p>
<% end %>
</div>

<br />
<br />
<br />
<br />

  <div class="c-wrapper">
    <div class="text-center">
      <%= link_to quest_flashcards_path(@quest) do %>
      <div class="cat one">
        <h4 class="categories">Flashcards</h4>
        <div class="whitespace"></div>
      </div>
      <img class="categories-img"
        src="https://res.cloudinary.com/dqymzh7jc/image/upload/v1598437886/cartes_optimized_ngvgub.png"
        alt=""
        style="height: 200px;"
      />
     <div class="whitespace"></div>
     <div class="whitespace"></div>
     <div class="whitespace"></div>
      <% end %>
    </div>
    <div class="center-item text-center">
      <%= link_to quest_videos_path(@quest) do %>
      <div class="cat two">
        <h4 class="categories">Vidéos</h4>
        <div class="whitespace"></div>
      </div>
  
      <img class="categories-img"
        src="https://res.cloudinary.com/dqymzh7jc/image/upload/v1598438076/video-_1__optimized_karusd.png"
        style="height: 200px;"
      />
      <div class="whitespace"></div>
      <div class="whitespace"></div>
      <% end %>
    </div>
    <div class="center-item text-center">
      <div class="cat three">
        <h4 class="categories">Parler avec un.e conseillèr.e</h4>
      </div>
     
      <img class="categories-img"
        src="https://res.cloudinary.com/dqymzh7jc/image/upload/v1598437536/mail_1_sl1zvp.png"
        alt=""
        style="height: 200px;"
        ;
      />
      <div class="whitespace"></div>
    </div>
  </div>
</div>
