<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dqymzh7jc/image/upload/v1597997066/logo_p3yyrl.svg"%>
  <% end %>
    <div class="navbar-nav d-flex flex-row">
      <% if user_signed_in? %>
        <div class="mx-3">
          <%= link_to home_path, class: "nav-link" do %>
            <i class="fas fa-home"></i>
          <% end %>
        </div>
        <div class="mx-3">
        <%= link_to index_path, class: "nav-link" do %>
            <i class="fas fa-envelope"></i>
            <% end %>
        </div>
        <div class="mx-3">
           <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
           <i class="fas fa-sign-out-alt"></i>
            <% end %>
        </div>
      <% else %>
        <div class="">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </div>
</div>
