<div class="viewport">
  <div class="container">
    <div class="welcome">
      <h1 class="dashboard-title">BIENVENUE LU ✨</h1>
      <h2>
        Aujourd’hui, Vendredi 21 Août, voici<br />
        à quoi ressemble ton <strong>inner powær</strong>
      </h2>
      <img
      src="https://image.freepik.com/free-vector/superhero-speed-hero-super-beast-comic-books-characters-action-pose-3-vertical-banners-blue-background_1284-32329.jpg"
      alt="" style="widows: 450px; height:235px;>
    </div>
    <div class="innerpower">
      <!-- div img  et p dessus-->
    </div>
    <br />
    <br />
    <br />
    <div class="title">
      <h2>QUEL EST TON MOOD AUJOURD'HUI ?</h2>
    </div>
    <div class="mx-auto">
      <form
        class="justify-content-center row form-choice"
        action="/mood_update"
        method="post"
      >
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %> <%
        User::MOODS.each_with_index do |mood, i| %>
        <div class="card col-5 mood-checkbox" data-for="mood-<%= i %>">
          <div class="plus">
            <p><i class="fa fa-check"></i></p>
          </div>
          <input
            class="input-checkbox"
            type="checkbox"
            hidden
            id="mood-<%= i %>"
            name="<%= mood %>"
          />
          <h4>
            <label
              class="mood-checkbox"
              for="<%= mood %>"
              data-for="mood-<%= i %>"
            >
              <%= mood %>
            </label>
          </h4>
        </div>
        <% end %>
        <input class="btn btn-primary" type="submit" value="Valide tes moods" />
      </form>
    </div>
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="quests">
      <div id="top-quest">
        <h2>CHOISIS LA QUÊTE QUI TE CORRESPOND</h2>
      </div>
      <div class="mx-auto justify-content-center row">
        <% @quests.each do |quest| %>
        <div class="card col-5 mood-checkbox">
          <h4><%= quest.name %></h4>
          <p><%= quest.description %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
