<div class="container">
  <div class="moods-choice">
    <form class="form-choice" action="/mood_update" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <h2>QUEL EST TON MOOD AUJOURD'HUI ?</h2>
      <% User::MOODS.each_with_index do |mood, i| %>
        <input type="checkbox" hidden value="<%= mood %>" id="mood-<%= i %>" name="<%= mood %>">
        <label class="mood-checkbox" for="<%= mood %>" data-for="mood-<%= i %>">
        <%= mood %>
        <i class="fa fa-check"></i>
      </label>
      <% end %>
      <input class="btn" type="submit" name="commit" value="Update User" data-disable-with="Update User">
    </form>
  </div>
</div>

