<div class="dash">
  <div class="viewport">
    <div class="welcome">
      <% if current_user.nickname == nil %>
        <h1><span> BIENVENUE </span></h1>
      <% else %>
        <h1><span> BIENVENUE <%= current_user.nickname.upcase %> </span></h1>
      <% end %>
      <img src="https://res.cloudinary.com/dqymzh7jc/image/upload/v1598350711/main_5_o2oezm.png" alt="" class="mains-sizing">
      <div class="whitespace"></div>
      <h2>
      Aujourd’hui, <%= Date.today.strftime('%d/%m/%Y') %>,
      voici à quoi ressemble ton <strong>inner powær</strong>
      </h2>
    <br>
      <div class="app">
        <div class="full hide-scroll">
          <ul class="heros-together d-flex flex-row">
            <% Quest.all.each do |quest| %>
              <% opacity = UserQuest.find_by(user: current_user, quest: quest) ? (current_user.total_progress(quest) / 100.0) : 0.2 %>
               <li class="item">
                <img
                  src="<%= quest.image_url %>"
                  alt="<%= quest.name %> image"
                  class="image-hero"
                  style="opacity: <%= opacity %>;"
                />
              </li>
            <% end %>
          </ul>
          </div>
            <div class="newquests">
            <% unless current_user.user_quests.length == 0 %>
              <p>Voici les quêtes que tu as commencées</p>
            <% end %>
            </div>
          <div class="justify-content-center ">
            <% current_user.quests.each do |quest| %>
              <% unless current_user.total_progress(quest) == 0 || current_user.total_progress(quest) == 100 %>
                <div class="card-quest mood-checkbox d-flex">
                  <h4 class="text-quest mr-3">
                    <label>
                      <%= quest.name %>
                      ✨ <%= current_user.total_progress(quest) %> %
                    </label>
                  </h4>
                  <%= link_to quest_path(quest), class: "dash btn-dash no-underline" do %>
                    <h4 class="text-quest">
                      Continuer la quête
                    </h4>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
      </div>
      <div class="title">
        <h3>QUEL EST TON MOOD AUJOURD'HUI ?</h3>
      </div>
      <div class="mx-auto">
        <form
          class="justify-content-center row form-choice"
          action="/mood_update"
          method="post"
          >
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%User::MOODS.each_with_index do |mood, i| %>
          <div class="card col-5 mood-checkbox" data-for="mood-<%= i %>">
            <div class="plus">
              <p><i class="fa fa-check"></i></p>
            </div>
            <input
            class="input-checkbox"
            type="checkbox"
            hidden
            id="mood-<%= i %>"
            name="<%= mood %>"
            />
            <h4 class="inset-text"> <span class="active">
              <label
                class="mood-checkbox"
                for="<%= mood %>"
                data-for="mood-<%= i %>"
                >
                <%= mood %>
              </label>
            </span>
            </h4>
          </div>
          <% end %>
          <label class="btnspace">
            <input
            class="btn-dash"
            type="submit"
            value="VALIDE TES MOODS"
            />
          </label>
        </form>
      </div>
      <div class="whitespace"></div>
      <img src="https://res.cloudinary.com/dqymzh7jc/image/upload/v1598350427/main_4_sjn3we.png" alt="" class="mains-sizing">
      <div class="whitespace"></div>
      <div class="quests">
        <div id="top-quest">
          <div class="title">
            <h3>CHOISIS LA QUÊTE QUI TE CORRESPOND</h3>
          </div>
        </div>
        <div class="mx-auto">
          <div class="justify-content-center ">
            <% @quests.each do |quest| %>
              <%= link_to quest_path(quest) do %>
                <div class="card-quest mood-checkbox">
                  <div class="plus">
                    <p><i class="fa fa-check"></i></p>
                  </div>
                  <h4 class="inset-text">
                    <span class="active">
                      <label>
                        <%= quest.name %>
                      </label>
                    </span>
                  </h4>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="whitespace"></div>
      </div>
    </div>
  </div>
</div>
